<div class="footer">
    <table role="presentation">
        <tr>
            <td class="content-block">
                <span class="apple-link">Kots project make with ❤ by liemlylac</span>
            </td>
        </tr>
    </table>
</div>
