<div class="footer">
  <table role="presentation">
    <tr>
      <td class="content-block">
        <span class="apple-link">Lander project make with ❤ by liemlylac</span>
      </td>
    </tr>
  </table>
</div>
