{{#> layout }}
  <table role="presentation">
    <tr>
      <td>
        <h2 class="align-center">Your password has been changed</h2>
        <h3>Hi {{fullName}},</h3>
        <p>You have successfully changed your Lander account password.
          If you did not make this request, please
          <!--suppress HtmlUnknownTarget -->
          <a href="{{frontendUrl}}/auth/request-password?from=email">reset your password</a>
          immediately.</p>
        <p>Thank you</p>
        <p><b>P.S.</b>This email was sent automatically, please do not reply.
          If you have any question, please contact me at <a href="mailto:liemlylac@gmail.com">liemlylac@gmail.com</a>
        </p>
      </td>
    </tr>
  </table>
{{/layout}}
