{{#> layout }}
    <table role="presentation">
        <tr>
            <td>
                <h2 class="align-center">Password Changed</h2>
                <h3>Hi {{displayName}}</h3>
                <p>You have successfully changed your Kots account password.
                    If you did not make this request, please
                    <!--suppress HtmlUnknownTarget -->
                    <a href="{{feUrl}}/auth/request-password?from=email">reset your password</a>
                    immediately.</p>
                <p>Thanks</p>
                <p><b>P.S.</b>This email was sent automatically, please do not reply.
                    If you have any question, please contact me at <a href="mailto:liemlylac@gmail.com">liemlylac@gmail.com</a>
                </p>
            </td>
        </tr>
    </table>
{{/layout}}
