<div class="header">
    <table role="presentation">
        <tr>
            <td class="content-block align-center">
                <span class="apple-link">Kots</span>
            </td>
            <td class="content-block align-center">
                <a href="https://github.com/liemlylac/kots-nestjs">Github</a>
            </td>
            <td class="content-block align-center">
                <a href="https://github.com/liemlylac">About me</a>
            </td>
        </tr>
    </table>
</div>
